.home_screen {
  background-color: var(--clr-primary);
  color: var(--clr-txt-primary);
  display: flex;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  border-radius: 1rem;
}

.how_to_button {
  background-color: transparent;
}

.home_screen .title {
  font-size: 2rem;
}
