.home_screen {
  background-color: var(--clr-primary);
  color: var(--clr-txt-primary);
  display: flex;
  height: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  border-radius: 1rem;
}

.home_screen .how_to_button {
  background-color: transparent;
}

.home_screen .title {
  font-size: 2rem;
}

.deploy_screen {
  display: grid;
  place-content: center;
  text-align: center;
}

.deploy_screen .inputs,
.deploy_screen .body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.deploy_screen .body {
  flex-direction: column;
}

.deploy_screen .player_gameboard {
  justify-content: center;
}

.deploy_screen {
  display: grid;
  gap: 0.5em;
  transform: translateX(-1.5rem);
}

.deploy_screen .left {
  justify-content: start;
}

.deploy_screen .current_ship {
  rotate: 180deg;
}

.deploy_screen .rotate_button {
  width: 15ch;
}

.deploy_screen .deployment_ship {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32px);
  gap: 1px;
  height: 32px;
  width: calc(32px * 6);
}

.battle_screen {
  display: flex;
  place-content: center;
  gap: 2rem;
  margin-top: 5rem;
}

.battle_screen .player,
.battle_screen .computer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.battle_screen .computer {
  border: 2px solid var(--clr-accent);
  border-radius: 10px;
}

.battle_screen .computer .block {
  cursor: pointer;
}

.battle_screen .computer .block:hover {
  border: 2px solid var(--clr-accent);
}
